.dcomp-gort {
	#dcomp-gort-img {
		cursor: pointer;
		width: 100%;
	}

	#dcomp-gort-iframe {
		width: 100%;
		aspect-ratio: 1/1;

		:focus {
			box-shadow: royalblue;
		}
	}

	width: 500px;
	max-width: 100%;
}
