.dc-docs-h1 {
  padding: 16px !important;
  background-image: url('./header_small.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: #00796b !important;
}
