.dcomp-thumbnail-list-container {
	display: flex;
	flex-wrap: wrap;

	.dcomp-thumbnail-list-thumbnail {
		flex: 0 0 var(--max-thumbnail-width);
		text-align: center;
		padding: 10px;
		width: 0;

		.dcomp-thumbnail-list-image-square {
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}
	}
}
