@use '@ucsddesignco/text-trim/core.scss' as text;

#dc-docs-vertical-trim {
  span.lg {
    font-family: NB International;

    @include text.trim(
      $height: 1442,
      $ascent: 1638,
      $descent: -410,
      $upm: 2048,
      $font-size: 48,
      $line-height: 48
    );
  }
}
