@font-face {
  font-family: NB International;
  src: url('./fonts/NB-International-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: NB International Mono;
  src: url('./fonts/NB-International-Mono.ttf');
  font-style: normal;
}

@font-face {
  font-family: Neue Plak Extended;
  src: url('./fonts/Neue-Plak-Extended-Bold.ttf');
  font-style: bold;
}

html,
body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
